.title {
  font-family: Helvetica;
  font-size: 70 px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.Process{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
a {
  font-family: Helvetica;
  font-size: 18 px;
  color: white;
  text-align: center;
  margin-left: 600px;
  font-weight: normal;
}
img {
  display: block;
  margin-left: 600px;
}
header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.Rest {
font-family: Helvetica;
text-align: center;
font-size: 23px;
font-weight: bold;
}
p{
  font-family: Helvetica;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.ny {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  text-align: center;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left !important;
}
h4 {
    font-family: Helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
    text-align: left;
  }
